<h2>Cambio Minimo @ViewBag.ok0 monedas</h2>

<div>
    <label>Monedas de 5pesos:    @ViewBag.ok</label>
    <br></br>
    <label>Monedas de 1peso:     @ViewBag.ok2</label>
      <br></br>
    <label>Monedas de 50 centavos:   @ViewBag.ok3</label>
    <br></br>
    <label>Monedas de 10 centavos:   @ViewBag.ok4</label>
    <br></br>
    <label>Monedas de 1 centavo:   @ViewBag.ok5</label>
</div>